html {
  min-height: 100%;
  position: relative;

  body {
    margin-bottom: 80px;

    .footer {
      background-color: white;
      border-top: 1px solid #e7e7e7;
      bottom: 0;
      min-height: 80px;
      position: absolute;
      width: 100%;
      float: left;
    }
  }
}