.navbar {

  .navbar-nav {

    .dropdown {

      .dropdown-toggle {

        .badge {
          background: $brand-warning;
          color: #fff;
          font-size: 9px;
          padding: 3px 4px;
          margin-top: -15px;
          margin-left: -5px;

        }

        &:hover, &:focus {
          .badge {
            background: #FFFFFF;
            color: $brand-primary;
          }
        }

      }

    }
  }

}