.panel.survey-panel {

  .panel-body {
  }

  .survey-form {

    .question {

      margin-bottom: 15px;
      border: 1px solid #CCCCCC;
      background: $panel-default-heading-bg;
      padding: 15px;
      width: 100%;

    }

  }

}